:root{
  --color1: #E8848C;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Josefin Sans";
}

body{
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #FF7978;
  background-image: url(images/bg-intro-desktop.png);
  background-size: cover;

}

main{
  min-height: 100vh;

}


section{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxmain{
  height: 656px;
  width: 1111px;
  display: flex;
  gap: 77px;
  flex-wrap: wrap;
}

.first{
  margin-top: 229px;
  width: 476px;
  color: #FFF;
}

.first>h1{
  font-size: 3.6em;
}

.first>p{
  margin-top: 45px;
  font-size: 1.2em;
}

.price{
  background-color: #5D54A3;
  width: 540px;
  height: 59px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.price>p{
  font-size: 1.1em;
  color: #D0CFD7;
}

.price>p>span{
  color: #FFF;
  font-weight: bold;
}


.box{
  width: 100%;
  height: 562px;
  background-color: #FFF;
  margin-top: 24px;
  border-radius: 15px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.formulaire{
  display: grid;
  grid-template-areas: "one"
                       "two"
                       "three"
                       "four"
                       "btn";
  gap: 42px;
  justify-items: center;
}

.formulaire>div{
  height: 56px;
  width: 460px;
  border-radius: 10px;
}

.one{
  grid-area: one;
  margin-top: 40px;
}

.two{
  grid-area: two;
}

.three{
  grid-area: three;
}

.four{
  grid-area: four;
}

.btn{
  grid-area: btn;
  background-color: #37CC8A;
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  height: 100%;
  width: 100%;
  border: solid 1px #DEDEDE;
  border-radius: 10px;
  font-size: 1.1em;
  padding-left: 30px;
}

.btn>p{
  color: #FFF;
  font-size: 1.3em;
  -webkit-user-select: none;
}

.error{
   border: solid 1px var(--color1);
}

.errortext{
  text-align: right;
  color: var(--color1);
  margin-top: 5px;
  display: none;
}

.error>.errortext{
  display: block;
}


.errorpicture{
  position: absolute;
  margin-top: -60px;
  margin-left: 400px;
  display: none;
}

.error>.errorpicture{
  display: initial;
  position: absolute;
}

.btn:active{
  background-color: #77E2B4;
}

.btn:hover{
  cursor: pointer;
}

.formulaire>p{
  font-size: 0.7em;
  margin-top: -25px;
  color: #D0CFD7;
  font-weight: bold;
}

.formulaire>p>span{
  color: var(--color1);
  font-weight: bold;
}

footer{
  text-align: center;
  margin-top: -50px;
}

@media(max-width: 1200px){

.boxmain{
  height: auto;
  width: 327px;
}

.first{
  text-align: center;
  margin-top: 100px;
}

.second{
  margin-bottom: 50px;
}

.price{
  width: 327px;
  height: 88px;
  padding-right: 80px;
  padding-left: 80px;
  text-align: center;
}

.formulaire{
 padding-left: 24px;
 padding-right: 24px;
 width: 327px;
}

.formulaire>div{
  height: 56px;
  width: 100%;
}


.formulaire>p{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.errorpicture{
  margin-top: -63px;
  margin-left: 225px;
  display: none;
}

footer{
  margin-top: -40px;
}


}